*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: solid 1px #0aad53; */
}
body{
    line-height: 1.5;
    font-size: 24px;
    font-family: "Roboto","Noto Sans TC", sans-serif;
    color: #000;
    font-weight: 400;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
