<footer class="footer">
    <div class="container-footer">
        <div class="footer-contean" data-aos="fade-up"
        data-aos-anchor-placement="top-center">
            <div>
                <ul class="footer-menu">
                    <li><a href="#" class="footer-menu-a">首頁</a></li>
                    <li><a href="#" class="footer-menu-a">系列鏡框</a></li>
                    <li><a href="#" class="footer-menu-a">門市據點</a></li>
                    <li><a href="#" class="footer-menu-a">部落格</a></li>
                    <li><a href="#" class="footer-menu-a">常見問題</a></li>
                </ul>
                <ul class="footer-connect">
                    <li class="mb-8">
                        <a href="tel:+886-800-000-000" class="d-flex">
                            <span class="material-symbols-outlined footer-icon">call</span>
                            <p>0800-000-000</p>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:glasses@business.com" class="d-flex"><span class="material-symbols-outlined footer-icon">mail</span>
                            <p>glasses@business.com</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
                    <a href="#" class="social-img">
                        <img src="/assets/images/ic-social-fb.png" alt="Facebook" >
                    </a>
                    <a href="#" class="social-img social-img-ml">
                        <img src="/assets/images/ic_social_ig.png" alt="Instagram" >
                    </a>
                    <a href="#" class="social-img social-img-ml">
                        <img src="/assets/images/ic_social_line.png" alt="line" >
                    </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="mb-mb-8">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="footer-item-list">
                <li class="mr-48 footer-item-list-a">
                    <a href="#">隱私權政策</a>
                </li>
                <li class="footer-item-list-a">
                    <a href="#">服務條款</a>
                </li>
            </ul>
        </div>
    </div>
</footer>