<header class="header">
    <div class="container-mb">
        <div class="header-content">
            <div class="header-logo-mb">
                <a href="index.html">
                    <img src="../assets/images/logo-white.png" alt="logo" style="width: 80px;">
                </a>
            </div>
            <ul class="header-list d-flex">
                <li><a href="#" class="header-a">系列鏡框</a></li>
                <li><a href="#" class="header-a">門市據點</a></li>
                <li><a href="blog.html" class="header-a">部落格</a></li>
                <li><a href="#" class="header-a">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>