<div class="page">
    <div class="container">
        <ol class="page-list d-flex">
            <li>
                <a href="#" class="bor-page page-Pre">上一頁</a>
            </li>
            <li class="bor-page"><a href="#" class="page-num-l page-hover page-hover-active">1</a></li>
            <li class="bor-page"><a href="#" class="page-num-ce page-hover">2</a></li>
            <li class="bor-page"><a href="#" class="page-num-ce page-hover">3</a></li>
            <li class="bor-page"><a href="#" class="page-num-ce page-hover">4</a></li>
            <li class="bor-page"><a href="#" class="page-num-r page-hover">5</a></li>
            <li class="bor-page">
                <a href="#" class="page-next">下一頁</a>
            </li>
        </ol>
    </div>
</div>