.d-flex{
    display: flex;
}
.mb-8{
    margin-bottom: 8px;
}
.mr-48{
    margin-right: 48px;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
.word-break{
    word-break: break-all;
}
.bg-secondary{
    background-color: $secondary;
  }
.pe-8{
    padding-right: 48px;
}
.ms-auto{
    margin-left: auto;
}
  