<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/all.css">
</head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="gui">
      <div class="container-mb">
          <ul class="d-flex justify-content-between mb-0">
              <li class="gui-column border-gui gui-a gui-a-active"><a href="#" class=" border-tra">OPTICAL</a></li>
              <li class="gui-column border-gui gui-a"><a href="#" class=" border-tra">SUNGLASSES</a></li>
              <li class="gui-column border-gui gui-a"><a href="#" class=" border-tra">FUNCTIONAL</a></li>
          </ul>
      </div>
  </div>

  <div class="banner">
      <ul class="d-flex justify-content-between list-unstyled">
          <li>
            <a href="#">
                <picture>
                    <source srcset="/assets/images/product-header-sm-1.png" media="(max-width: 576px)">
                    <img src="/assets/images/product-header-1.png" alt="Logo">
                </picture>
            </a>
          </li>
          <li>
              <a href="#">
                  <picture>
                      <source srcset="/assets/images/product-header-sm-2.png" media="(max-width: 576px)">
                      <img src="/assets/images/product-header-2.png" alt="Logo">
                  </picture>
              </a>
          </li>
      </ul>
  </div>

  <section class="title">
      <div class="container">
          <h2 class="title-item1">Celluloid Combi</h2>
          <p class="title-item2">賽璐珞鈦金屬混合鏡框</p>
      </div>
  </section>
  
  <main class="main">
    <div class="container">
        <ul class="d-flex item-row" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-4.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-5.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-1.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-2.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-9.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-8.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-7.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
            <li class="column-4">
                <div class="item">
                    <a href="#">
                        <img src="img/product-3.png" alt="product">
                    </a>
                    <h3 class="dis-fl jc-sb">BJ41600S
                        <span class="item-sp">NTD3,490</span>
                    </h3>
                    <div class="dis-fl">
                        <div class="item-color1"></div>
                        <div class="item-color2"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>

    <%- include('./layout/page'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
